:root {
  // Стиль обводки обертки
  --n-cropper-border-style: solid;
  // Стиль обводки активной обертки
  --n-cropper-active-border-style: dotted;
  // Стиль обводки точки
  --n-cropper-point-border-style: solid;
  // Стиль обводки активной точки
  --n-cropper-point-active-border-style: solid;
}