:root {
    .g-0 {
        gap: var(--nc-indent-0);
    }
    .g-1 {
        gap: var(--nc-indent-1);
    }
    .g-2 {
        gap: var(--nc-indent-2);
    }
    .g-3 {
        gap: var(--nc-indent-3);
    }
    .g-4 {
        gap: var(--nc-indent-4);
    }
    .g-5 {
        gap: var(--nc-indent-5);
    }
}