:root {
  --n-font-size-paragraph: 16px;
}

.signature {
  font-size: 12px;
  font-size: calc(var(--n-font-size-paragraph) * .75);
}

p,
.p {
  font-size: var(--n-font-size-paragraph);
  margin: 0;
  padding: 0;
}

h4,
.h4 {
  font-size: calc(var(--n-font-size-paragraph) * 1.25);
  margin: 0;
  padding: 0;
}

h3,
.h3 {
  font-size: calc(var(--n-font-size-paragraph) * 1.5);
  margin: 0;
  padding: 0;
}

h2,
.h2 {
  font-size: calc(var(--n-font-size-paragraph) * 1.75);
  margin: 0;
  padding: 0;
}

h1,
.h1 {
  font-size: calc(var(--n-font-size) * 2);
  margin: 0;
  padding: 0;
}