:root {
  --n-second-100: #777777;
  --n-second-75: #969696;
  --n-second-50: #afafaf;
  --n-second-25: #c9c9c9;
  --n-second-0: #eeeeee;

  .c-second-100 {
    color: var(--n-second-100);
  }
  .bg-second-100 {
    background-color: var(--n-second-100);
  }
  .c-second-75 {
    color: var(--n-second-75);
  }
  .bg-second-75 {
    background-color: var(--n-second-75);
  }
  .c-second-50 {
    color: var(--n-second-50);
  }
  .bg-second-50 {
    background-color: var(--n-second-50);
  }
  .c-second-25 {
    color: var(--n-second-25);
  }
  .bg-second-25 {
    background-color: var(--n-second-25);
  }
  .c-second-0 {
    color: var(--n-second-0);
  }
  .bg-second-0 {
    background-color: var(--n-second-0);
  }
}
