:root {
    // LINE HEIGHT
    .lh-no {
        line-height: var(--n-lh-no_lh);
    }
    .lh-compact {
        line-height: var(--n-lh-compact);
    }
    .lh-regular {
        line-height: var(--n-lh-regular);
    }
    .lh-loose {
        line-height: var(--n-lh-loose);
    }
}
