$spacer: 16px;

.mt-1 {
  margin-top: calc($spacer * 0.25);
}
.mt-2 {
  margin-top: calc($spacer * 0.5);
}
.mt-3 {
  margin-top: calc($spacer * 1);
}
.mt-4 {
  margin-top: calc($spacer * 1.5);
}
.mt-5 {
  margin-top: calc($spacer * 3);
}