:root {
    // PADDING BOTTOM
    .pb-0 {
        padding-bottom: var(--n-indent-0);
    }
    .pb-1 {
        padding-bottom: var(--n-indent-1);
    }
    .pb-2 {
        padding-bottom: var(--n-indent-2);
    }
    .pb-3 {
        padding-bottom: var(--n-indent-3);
    }
    .pb-4 {
        padding-bottom: var(--n-indent-4);
    }
    .pb-5 {
        padding-bottom: var(--n-indent-5);
    }
}
