:root {
    .p-0 {
        padding: var(--nc-indent-0);
    }
    .p-1 {
        padding: var(--nc-indent-1);
    }
    .p-2 {
        padding: var(--nc-indent-2);
    }
    .p-3 {
        padding: var(--nc-indent-3);
    }
    .p-4 {
        padding: var(--nc-indent-4);
    }
    .p-5 {
        padding: var(--nc-indent-5);
    }
}