:root {
    // PADDING LEFT
    .pl-0 {
        padding-left: var(--nc-indent-0);
    }
    .pl-1 {
        padding-left: var(--nc-indent-1);
    }
    .pl-2 {
        padding-left: var(--nc-indent-2);
    }
    .pl-3 {
        padding-left: var(--nc-indent-3);
    }
    .pl-4 {
        padding-left: var(--nc-indent-4);
    }
    .pl-5 {
        padding-left: var(--nc-indent-5);
    }
}
