:root {
    // PADDING RIGHT
    .pr-0 {
        padding-right: var(--n-indent-0);
    }
    .pr-1 {
        padding-right: var(--n-indent-1);
    }
    .pr-2 {
        padding-right: var(--n-indent-2);
    }
    .pr-3 {
        padding-right: var(--n-indent-3);
    }
    .pr-4 {
        padding-right: var(--n-indent-4);
    }
    .pr-5 {
        padding-right: var(--n-indent-5);
    }
}
