:root {
    // PADDING TOP
    .pt-0 {
        padding-top: var(--n-indent-0);
    }
    .pt-1 {
        padding-top: var(--n-indent-1);
    }
    .pt-2 {
        padding-top: var(--n-indent-2);
    }
    .pt-3 {
        padding-top: var(--n-indent-3);
    }
    .pt-4 {
        padding-top: var(--n-indent-4);
    }
    .pt-5 {
        padding-top: var(--n-indent-5);
    }
}
