:root {
    .px-0 {
        padding-right: var(--nc-indent-0);
        padding-left: var(--nc-indent-0);
    }
    .px-1 {
        padding-right: var(--nc-indent-1);
        padding-left: var(--nc-indent-1);
    }
    .px-2 {
        padding-right: var(--nc-indent-2);
        padding-left: var(--nc-indent-2);
    }
    .px-3 {
        padding-right: var(--nc-indent-3);
        padding-left: var(--nc-indent-3);
    }
    .px-4 {
        padding-right: var(--nc-indent-4);
        padding-left: var(--nc-indent-4);
    }
    .px-5 {
        padding-right: var(--nc-indent-5);
        padding-left: var(--nc-indent-5);
    }
}