:root {
  // Обводка обертки
  --n-cropper-border: var(--n-border);
  // Обводка точки
  --n-cropper-point-border: var(--n-border);
  // Обводка активной точки
  --n-cropper-point-active-border: var(--n-main);
  // Задний фон обертки
  --n-cropper-background: var(--n-black);
  // Задний фон точки
  --n-cropper-point-background: var(--n-border);
  // Задний фон активной точки
  --n-cropper-point-avtive-background: var(--n-main);
}