:root {
  // Прозрачность заднего фона обертки
  --n-cropper-opacity: .5;
  // Прозрачность заднего фона точки
  --n-cropper-point-opacity: .5;
  // Прозрачность заднего фона активной точки
  --n-cropper-point-active-opacity: .5;
}