:root {
  // Ширина обводки обертки
  --n-cropper-border-width: 1px;
  // Ширина обводки точки
  --n-cropper-point-border-width: 1px;
  // Размер точки
  --n-cropper-point-size: 16px;
  // Размер активной точки
  --n-cropper-point-active-size: 24px;
  // Радиус точки
  --n-cropper-point-radius: 4px;
  // Радиус активной точки
  --n-cropper-point-active-radius: 4px;
}