:root {
    // FONT WEIGHT
    .fw-light {
        font-weight: var(--nc-fw-light);
    }
    .fw-regular {
        font-weight: var(--nc-fw-regular);
    }
    .fw-medium {
        font-weight: var(--nc-fw-medium);
    }
    .fw-bold {
        font-weight: var(--nc-fw-bold);
    }
}
