:root {
    // FONT SIZE
    --n-fs-small-caption: 0.625rem;
    --n-fs-caption: 0.75rem;
    --n-fs-small-p: 0.875rem;
    --n-fs-p: 1rem;
    --n-fs-h4: 1.125rem;
    --n-fs-h3: 1.25rem;
    --n-fs-h2: 1.5rem;
    --n-fs-h1: 1.875rem;
}
