:root {
  // Большой
  --n-control-large-size: 40px;
  --n-control-large-px: 16px;
  // Обычный
  --n-control-default-size: 32px;
  --n-control-default-px: 12px;
  // Маленький
  --n-control-small-size: 24px;
  --n-control-small-px: 8px;
  // Отступы между иконками и инпутом
  --n-control-col-gap: 4px;
  // Отступы между подписями и инпутом
  --n-control-row-gap: 4px;
}