:root {
    // MARGIN BOTTOM
    .mb-0 {
        margin-bottom: var(--n-indent-0);
    }
    .mb-1 {
        margin-bottom: var(--n-indent-1);
    }
    .mb-2 {
        margin-bottom: var(--n-indent-2);
    }
    .mb-3 {
        margin-bottom: var(--n-indent-3);
    }
    .mb-4 {
        margin-bottom: var(--n-indent-4);
    }
    .mb-5 {
        margin-bottom: var(--n-indent-5);
    }
}
