:root {
    .m-0 {
        margin: var(--n-indent-0);
    }
    .m-1 {
        margin: var(--n-indent-1);
    }
    .m-2 {
        margin: var(--n-indent-2);
    }
    .m-3 {
        margin: var(--n-indent-3);
    }
    .m-4 {
        margin: var(--n-indent-4);
    }
    .m-5 {
        margin: var(--n-indent-5);
    }
}