:root {
    // MARGIN LEFT
    .ml-0 {
        margin-left: var(--n-indent-0);
    }
    .ml-1 {
        margin-left: var(--n-indent-1);
    }
    .ml-2 {
        margin-left: var(--n-indent-2);
    }
    .ml-3 {
        margin-left: var(--n-indent-3);
    }
    .ml-4 {
        margin-left: var(--n-indent-4);
    }
    .ml-5 {
        margin-left: var(--n-indent-5);
    }
}
