:root {
    // MARGIN RIGHT
    .mr-0 {
        margin-right: var(--n-indent-0);
    }
    .mr-1 {
        margin-right: var(--n-indent-1);
    }
    .mr-2 {
        margin-right: var(--n-indent-2);
    }
    .mr-3 {
        margin-right: var(--n-indent-3);
    }
    .mr-4 {
        margin-right: var(--n-indent-4);
    }
    .mr-5 {
        margin-right: var(--n-indent-5);
    }
}
