:root {
    .my-0 {
        margin-top: var(--n-indent-0);
        margin-bottom: var(--n-indent-0);
    }
    .my-1 {
        margin-top: var(--n-indent-1);
        margin-bottom: var(--n-indent-1);
    }
    .my-2 {
        margin-top: var(--n-indent-2);
        margin-bottom: var(--n-indent-2);
    }
    .my-3 {
        margin-top: var(--n-indent-3);
        margin-bottom: var(--n-indent-3);
    }
    .my-4 {
        margin-top: var(--n-indent-4);
        margin-bottom: var(--n-indent-4);
    }
    .my-5 {
        margin-top: var(--n-indent-5);
        margin-bottom: var(--n-indent-5);
    }
}